amqp==5.1.1
aniso8601==9.0.1
asgiref==3.5.0
async-timeout==4.0.2
attrs==21.4.0
bcrypt==3.1.7
beautifulsoup4==4.11.1
celery==5.2.7

cryptography==2.8

Django==3.2.13
django-celery-beat==2.2.1
django-celery-results==2.3.1
django-crispy-forms==1.14.0
django-debug-toolbar==3.4.0
django-filter==21.1
django-newsfeed==0.8.7
django-redis==5.2.0
django-timezone-field==4.2.3
djangorestframework==3.13.1

email-validator==1.2.1
flower==1.0.0
future==0.18.2
gunicorn==20.1.0
httplib2==0.14.0
importlib-metadata==4.11.3

Jinja2==3.1.1
launchpadlib==1.10.13

lxml==4.8.0

Pillow==7.0.0

psycopg2-binary==2.9.3

pytest==7.1.1
pytest-django==4.5.2
python-crontab==2.6.0
python-dateutil==2.7.3
python-pptx==0.6.21
python3-xlib==0.15
pytz==2022.1
redis==4.2.0
reportlab==3.5.34
requests==2.22.0
requests-unixsocket==0.2.0
simplejson==3.16.0
SQLAlchemy==1.4.32
sqlparse==0.4.2
ssh-import-id==5.10
typing_extensions==4.1.1
urllib3==1.25.8
virtualenv==20.13.1
whitenoise==6.0.0
